/* Import the "Press Start 2P" font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Define a reusable class for the "Press Start 2P" font */
.font-press-start {
  font-family: "Press Start 2P", cursive;
}

/* Add styles for the gradient background */
.gradient-background {
  background: linear-gradient(to bottom right, #f56565, #ed8936); /* Red to orange gradient */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 300px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 0.1rem;
}